
<%= @user.name %>

<% @organized_events.each do |event|%>
  <%= event.title %>
  <%= event.location %>
<% end %>

<p>attended events</p><br>
<% @attended_events.each do |event|%>
  <span><%= event.title %><br></span>
<% end %>

<%= link_to "Home", root_path %>