<%= form_with(model: invitation, class: "contents") do |form| %>
  <% if invitation.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
        <% invitation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <%= form.hidden_field :attendee_id, value: current_user.id%>
  <%= form.hidden_field :event_id , value: params[:event_id]%>
  <div class="inline">
    <%= form.submit value: "Join" %>
  </div>
<% end %>


